:root{
  --form-height: 90px;
}

.main-chat-container{
  width: calc(100vw - var(--side-bar-width));
  height: 100vh;
}

.main-chat-container > .main-chat-header{
  width: 100%;
  height: var(--header-height);
  background-color: #ffffff;
}

.main-chat-container > .messages-display{
  background-color: #fafafa;
}

.main-chat-container > .chat-form {
  height: var(--form-height);
  background-color: #DDDDDD;
}

