:root{
  --form-height: 90px;
}

.main-chat-container{
  width: calc(100vw - var(--side-bar-width));
  height: 100vh;
}

/* header */
.main-chat-container > .main-chat-header{
  width: 100%;
  height: var(--header-height);
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.main-chat-header > .room-title{
  margin-top: 36px;
  margin-left: 40px;
  font-size: 24px;
  color: #333;
}

.header-button {
  margin-top: 20px;
}

.header-button input[type="submit"] {
  text-decoration: none;
  border: 1px solid darkred;
  color: darkred;
  background-color: #fff;
  padding: 20px;
  cursor: pointer;
}

/* 
メッセージ一覧
*/

.main-chat-container > .messages-display{
  height: calc(100vh - var(--header-height) - var(--form-height));
  background-color: #fafafa;
  overflow-y: scroll;
}

.message-block {
  margin-top: 40px;
  margin-left: 10px;
}

.chat-info{
  display: flex;
  margin-top: 10px;
}

.chat-user{
  margin-left: 10px;
  font-size: 16px;
  color: #434A54;
}

.chat-date{
  margin-left: 10px;
  font-size: 12px;
  color: #999;
}

.chat-content{
  color: #434A54;
  font-size: 14px;
  margin: 10px 0 0 10px;
}

/* フォーム */

.main-chat-container > .chat-form {
  height: var(--form-height);
  background-color: #DDDDDD;
  padding: 20px 40px 20px 40px;

  display: flex;
  justify-content: space-between;
}

.form{
  width: 100%;
  height: 100%;
  display: flex;
}

.form-input{
  flex-grow: 1;
  background-color: white;
  width: 100%;
  display: flex;
}

.form-message{
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.img-file{
  flex-shrink: 0;
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
  border: none;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}