<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<div th:fragment="main_chat" class="main-chat-container">
  <div class="main-chat-header">
    <div class="room-title" th:text="${currentRoom.name}">部屋名</div>
    <form th:action="@{/rooms/{roomId}/delete(roomId=${currentRoom.id})}" th:method="post">
      <div class="header-button">
        <input type="submit" value="チャットを終了する"/>
      </div>
    </form>
  </div>
  <div class="messages-display">
    <th:block th:each="message : ${messages}">
      <th:block th:replace="~{messages_block :: messages_block(${message})}" />
    </th:block>
  </div>
  <div class="chat-form">
    <form th:action="@{/rooms/{roomId}/messages(roomId=${currentRoom.id})}" th:method="post" class="form" th:object="${messageForm}">
      <div class="form-input">
        <input type="text" placeholder="type a message" class="form-message" th:field="*{content}"/>
        <label>
          <span class="img-file" type="button">画像</span>
          <input type="file" style="display: none;"/>
        </label>
      </div>
      <input class="form-submit" type="submit" value="送信">  
    </form>
  </div>
</div>
</html>