<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<div th:fragment="side_bar" class="side-bar-container">
  <div class="side-bar-wrapper">
    <div class="side-bar-header">
      <div class="user-name"><a class="content" th:text="${currentUserName}" th:href="@{/users/edit}">Tom</a></div>
      <div class="create-chat">
        <a class="create-chat-btn" th:href="@{/rooms/new}">チャットを作成する</a>
      </div>
    </div>
    <div class="side-bar-main">
      <div class="rooms-container">

        <div class="room-display">
          <div class="room-name">techroom</div>
        </div>
        <div class="room-display">
          <div class="room-name">techroom2</div>
        </div>
        
      </div>
    </div>
  </div>
</div>
</html>