<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <link rel="stylesheet" th:href="@{/css/sidebar.css}" />
  <link rel="stylesheet" th:href="@{/css/mainchat.css}" />
  <title>ChatApp</title>
</head>
<body>
  <div class="wrapper">
    <div th:insert="~{side_bar :: side_bar}"></div>
  </div>
</body>
</html>